:root {
  --white-text: #fff;
  --dark-text: #252525;
  --bg-color: #ffffff;
  --dark-bg-color: #252525;
  --lavanda: #9b71b3;
  --lavanda-2: #bca0cc;
  --lavanda-5: #e9dfee;
  --title-color: #c185e6;
  --light-green: #7ed957;
  --header-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  background-color: var(--bg-color);
}

button,
a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

input {
  border: none;
  background-color: inherit;
}

input:focus {
  outline: none;
}

svg {
  flex-shrink: 0;
}

.container {
  width: min(100%, 1218px);
}

@media (max-width: 768px) {
  :root {
    --header-height: 64px;
  }
}
