.header {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 20px;
    background-color: var(--dark-bg-color, #252525);
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content > img {
    width: 68px;
    height: 52px;
}

.header-nav {
    display: flex;
    gap: 24px;
    color: var(--white-text, #f3f3f3);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-nav > a.selected,
.header-nav > a:hover {
    border-bottom: 1px solid var(--white-text, #f3f3f3);
}

.burger-menu {
    display: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 38px 20px 20px;
    background: var(--dark-bg-color);
    color: var(--white-text);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contact-info-container {
    display: flex;
    justify-content: space-between;
}

.contact-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 8px;
}

.opening-hours {
    grid-column-start: 2;
}

.copyright {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .header-content > img {
        width: 52px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .header {
        --header-height: 64px;
    }

    /* temporary */
    .header-content {
        gap: 1rem;
    }

    /* temporary */
    .header-nav {
        /* display: none; */
        overflow-x: scroll;
    }

    /* temporary  */
    .header-nav::-webkit-scrollbar {
        display: none;
    }

    /* temporary */
    .burger-menu {
        /* display: block; */
    }

    .footer {
        padding: 12px 20px;
        font-size: 14px;
    }

    .footer svg {
        width: 18px;
        height: 18px;
    }

    .contact-icons {
        gap: 12px;
    }
}

@media (max-width: 480px) {
    .header-content > img {
        width: 42px;
        height: 34px;
    }

    .contact-icons {
        gap: 0.5em;
    }
}
