.main {
    display: flex;
    min-height: calc(100dvh - var(--header-height));
    padding: 80px 0;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-title {
    align-self: center;
    padding: 10px;
    margin-bottom: 40px;
    color: var(--dark-text, #252525);
    border-bottom: 2px solid var(--lavanda, #9b71b3);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
}

.model-full-name {
    padding: 4px 8px;
    color: var(--dark-text, #252525);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.model-details {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
    padding: 4px 12px;
    margin-bottom: 38px;
    border-radius: 4px 8px 8px 8px;
    border: 1px solid var(--Lavanda, #9b71b3);
}

.model-photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}

.model-photo > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 4px 4px;
}

@media (max-width: 1024px) {
    .main {
        padding: 60px 0 40px;
    }

    .model-details {
        margin-bottom: 20px;
    }

    .model-photo {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 1rem;
    }

    .model-photo > img {
        height: 280px;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 50px 0 40px;
    }

    .model-full-name {
        font-size: 20px;
        padding: 4px 6px;
    }

    .model-details {
        padding: 4px 6px;
    }

    .model-photo {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 12px;
    }

    .model-photo > img {
        height: 260px;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 30px 0 10px;
    }

    .section-title {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .model-full-name {
        font-size: 1rem;
    }

    .model-details {
        font-size: 14px;
    }

    .model-photo > img {
        height: 186px;
        border-radius: 4px 2px 2px;
    }
}

@media (max-width: 360px) {
    .main {
        padding: 20px 0;
    }
}
