/* :root {
  --header-height: 80px;
} */

.header {
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 20px;
  background-color: var(--dark-bg-color, #252525);
  justify-content: center;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent > img {
  width: 68px;
  height: 52px;
}

.headerContent > nav > ul {
  display: flex;
  gap: 24px;
  color: var(--white-text, #f3f3f3);
  font-size: 18px;
  font-weight: 400;
}

.headerContent > nav a {
  display: flex;
}

.headerContent > nav a.selected,
.headerContent > nav a:hover {
  border-bottom: 1px solid var(--white-text, #f3f3f3);
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100dvh;
  width: 100%;
  max-width: 480px;
  background-color: var(--bg-color);
}

.close-menu-btn {
  display: flex;
  width: 28px;
  height: 28px;
  margin: 20px 20px 38px auto;
}

.sidebar ul {
  flex-direction: column;
  gap: 0px;
  color: var(--dark-text, #252525);
  font-size: 26px;
}

.sidebar a {
  padding: 10px 30px;
}

.burger-menu-btn {
  display: none;
}

@media (max-width: 1024px) {
  .headerContent > img {
    width: 52px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .headerContent > nav > ul {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .burger-menu-btn {
    display: flex;
  }
}

@media (max-width: 480px) {
  .headerContent > img {
    width: 42px;
    height: 34px;
  }

  .close-menu-btn {
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
  }
}
