/* :root {
  --header-height: 80px;
} */

.header {
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  height: var(--header-height);
  height: 80px;
  padding: 0 20px;
  background-color: var(--dark-bg-color, #252525);
  justify-content: center;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent > img {
  width: 68px;
  height: 52px;
}

.headerContent > nav > ul {
  display: flex;
  gap: 24px;
  color: var(--white-text, #f3f3f3);
  font-size: 18px;
  font-weight: 400;
  /* font-style: normal; */
  /* line-height: normal; */
}

.headerContent > nav a {
  display: flex;
}

.headerContent > nav a.selected,
.headerContent > nav a:hover {
  border-bottom: 1px solid var(--white-text, #f3f3f3);
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100dvh;
  width: 100%;
  max-width: 480px;
  background-color: var(--bg-color);
}

.close-menu-btn {
  display: flex;
  width: 28px;
  height: 28px;
  margin: 20px 20px 38px auto;
}

.sidebar ul {
  flex-direction: column;
  gap: 0px;
  color: var(--dark-text, #252525);
  font-size: 26px;
}

.sidebar a {
  padding: 10px 30px;
}

.burger-menu-btn {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 38px 20px 20px;
  background: var(--dark-bg-color);
  color: var(--white-text);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
}

.contact-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 8px;
}

.opening-hours {
  grid-column-start: 2;
}

.copyright {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  .headerContent > img {
    width: 52px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  /* :root {
    --header-height: 64px;
  } */

  .headerContent > nav > ul {
    display: none;
  }

  .burger-menu-btn {
    display: flex;
  }

  .footer {
    padding: 12px 20px;
    font-size: 14px;
  }

  .footer svg {
    width: 18px;
    height: 18px;
  }

  .contact-icons {
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .headerContent > img {
    width: 42px;
    height: 34px;
  }

  .close-menu-btn {
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
  }

  .contact-icons {
    gap: 0.5rem;
  }
}
